.boxCad {
  background-color: #E5E5E5;
  color:#4A5055;
  border-radius: 10px;
  max-width: 860px;
  min-width: 180px;
  height: auto;
  margin: 30px auto ;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

input#apga.esconder{
  visibility: hidden;
}


